/**body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgba(9, 20, 6, 0.877);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(27, 68, 9, 0.603);
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  margin: 0 auto 0 15px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(194, 221, 188);
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
}

.nav-item {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: auto 20px;
}

.nav-link {
  margin: 0 20px;
  color: rgb(194, 221, 188);
  text-decoration: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
}
.nav-link:hover {
  color: rgba(127, 224, 97, 0.877);
}

.active {
  color: rgba(127, 224, 97, 0.877);
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 0 150px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/skincare-hand.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -2;
}

header h1,
header h2,
header h3 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: rgba(233, 252, 227, 0.89);
}

header h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1px;
}

header h3 {
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 70px 100px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid rgba(79, 121, 66, 0.5);
  background: rgba(79, 121, 66, 0.651);
}

.hero-btn a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

main {
  margin: 0 150px;
}

.introduction-skincare {
  background-color: rgba(223, 235, 220, 0.863);
  padding: 130px 120px;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.introduction-skincare img {
  margin: 10px 50px;
}

.introduction-skincare h3 {
  font-size: 24px;
  font-weight: 350;
  line-height: 24px;
}

.introduction-skincare p {
  font-size: 16px;
  line-height: 1.5;
}

.hotspot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff5733;
  border-radius: 50%;
  cursor: pointer;
}

#step1 {
  top: 30%;
  left: 20%;
}

#step2 {
  top: 60%;
  left: 50%;
}

#step3 {
  top: 40%;
  left: 80%;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
  top: -30px;
}
.hotspot:hover + .tooltip {
  display: block;
}

section {
  display: flex;
  justify-content: center;
  padding: auto 120px;
}
.routine-skincare {
  background-color: #cbf5eb;
  margin: 0;
  margin-right: 0;

  padding: 20px 100px;
}
.routine-image {
  position: relative;
  display: inline-block;
}
.routine-skincare img {
  width: 850px;
}

.routine-skincare {
  background-color: #cbf5eb;
  margin: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  padding: 20px 100px;
}
.routine-skincare img {
  width: 850px;
}

footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(7, 10, 5, 0.85), rgba(3, 5, 3, 0.85)),
    url(/images/skincare-footer.png);
  height: 20vh;
  padding: 60px 0;
  margin: 40px 150px 100px;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  color: rgba(222, 236, 218, 1);
}
footer .grid {
  margin: 20px 100px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 35px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

footer h3 {
  font-size: 18px;
  font-weight: 400;
}

footer p {
  font-size: 15px;
  font-weight: 280;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: rgba(222, 236, 218, 1);
  text-decoration: none;
  opacity: 0.7;
}

footer a:hover {
  text-decoration: underline;
}
*/

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background: rgba(9, 20, 6, 0.877);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(27, 68, 9, 0.603);
  padding: 2px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.navbar-brand {
  font-size: 20px;
  text-decoration: none;
  color: rgb(194, 221, 188);
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
}

.nav-item {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 0 20px;
  color: rgb(194, 221, 188);
  text-decoration: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
  opacity: 1;
}

.nav-link:hover {
  color: rgba(127, 224, 97, 0.877);
}

.active {
  color: rgba(127, 224, 97, 0.877);
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 0 150px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/skincare-hand.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -2;
}

header h1,
header h2,
header h3 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: rgba(233, 252, 227, 0.89);
}

header h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1px;
}

header h3 {
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 70px 100px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid rgba(79, 121, 66, 0.5);
  background: rgba(79, 121, 66, 0.651);
}

.hero-btn a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

main {
  margin: 0 150px;
}

.introduction-skincare {
  background-color: rgba(223, 235, 220, 0.863);
  padding: 130px 130px;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.introduction-skincare img {
  margin: 10px 50px;
}

.introduction-skincare h3 {
  font-size: 24px;
  font-weight: 350;
  line-height: 24px;
}

.introduction-skincare p {
  font-size: 16px;
  line-height: 1.5;
}

.hotspot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ff5733;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  animation: glow 1.5s infinite;
}

.hotspot::before {
  content: "i";
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 87, 51, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 87, 51, 0.5);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 87, 51, 0.7);
  }
}

#step1 {
  top: 20%;
  left: 19%;
}

#step2 {
  top: 20%;
  left: 37%;
}

#step3 {
  top: 20%;
  left: 55%;
}

#step4 {
  top: 20%;
  left: 73%;
}

#step5 {
  top: 20%;
  left: 91%;
}

#step6 {
  top: 47%;
  left: 19%;
}

#step7 {
  top: 47%;
  left: 37%;
}

#step8 {
  top: 47%;
  left: 55%;
}

#step9 {
  top: 47%;
  left: 73%;
}

#step10 {
  top: 47%;
  left: 91%;
}

.tooltip {
  position: absolute;
  background-color: rgba(79, 121, 66, 1);
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  top: -30px;
  left: 10px;
}

.hotspot:hover + .tooltip {
  display: block;
}

.routine-list {
  display: none;
}

.routine-skincare {
  background-color: #cbf5eb;
  margin: 0;
  padding: 40px 120px;
  display: flex;
  justify-content: center;
}

.routine-image {
  position: relative;
  display: inline-block;
}

.routine-skincare img {
  width: 100%;
  max-width: 850px;
}

.routine-text {
  margin-top: 35px;
  text-align: center;
}

.routine-text p {
  font-size: 20px;
  color: #333;
  text-shadow: 0 0 20px rgba(7, 131, 24, 0.7);
}

.routine-text button {
  margin: 35px auto;
  background-color: #556f48;
}

/* product-site*/

.product-list {
  background-color: #b8ddb8;
  margin: 0;
  padding: 40px 120px;
  margin: 0;
}

.product-list div {
  margin: 25px 0;
}

.product {
  width: 400px;
  height: 400px;
}
.disclaimer {
  display: grid;
  grid-template-columns: 1fr;
}

.disclaimer p {
  text-align: center;
}
.video {
  background-color: #556f48;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 0 !important;
  padding: 0 112px;
}

.youtube-video {
  width: 1000px;
  height: 600px;
}

footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(7, 10, 5, 0.85), rgba(3, 5, 3, 0.85)),
    url(/images/skincare-footer.png);
  height: 20vh;
  padding: 30px 0;
  margin: 0 150px 20px 150px;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  color: rgba(222, 236, 218, 1);
}

footer .grid {
  margin: 20px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 35px;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer h3 {
  font-size: 16px;
  font-weight: 400;
}

footer p {
  font-size: 14px;
  font-weight: 280;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  font-size: 14px;
  color: rgba(222, 236, 218, 1);
  text-decoration: none;
  opacity: 0.7;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  body {
    margin-right: 0;
  }
  nav {
    position: relative;
  }

  .navbar {
    margin: 0 10px;
  }

  .navbar-brand {
    font-size: 18px;
    margin-left: 5px;
  }
  .nav-item {
    margin: auto 10px auto auto;
  }

  .nav-link {
    font-size: 14px;
    font-weight: 300;
    color: rgb(235, 250, 232);
    margin: 0 6px;
  }

  header {
    margin: 0 30px 0 30px;
  }

  header::before {
    right: 0 !important;
  }
  header h3 {
    margin: 70px 20px 30px 20px;
    font-size: 12px;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 22px;
    margin: 40px 40px;
  }

  main {
    margin: 0 30px;
  }

  .introduction-skincare {
    padding: 10px 15px;
    margin: auto;
  }

  .introduction-skincare img {
    width: 200px;
    margin: 10px 50px;
  }

  .introduction-skincare h3 {
    font-size: 16px;
    font-weight: 350;
    line-height: 24px;
  }

  .introduction-skincare p {
    font-size: 14px;
    line-height: 1.5;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .routine-image img {
    display: none;
  }
  .routine-list {
    display: block;
    margin: 10px 25px;
    list-style: none;
    padding-inline-start: 0;
  }

  .routine-list ul {
    margin: 0;
  }
  .routine-list li {
    margin: 45px 0;
    width: 240px;
  }

  .routine-list li p {
    font-size: 15.5px;
  }

  .hotspot {
    display: none;
  }

  .routine-text {
    display: block;
  }

  .hotspot-list h3 {
    font-weight: 450;
    color: #556f48;
  }
  .hotspot-list p {
    font-size: 15px;
  }
  .routine-text p {
    font-size: 18px;
  }
  .routine-text-small {
    display: block;
  }

  .routine-btn a {
    font-size: 17px;
  }

  footer {
    background-image: linear-gradient(rgba(7, 10, 5, 0.9), rgba(3, 5, 3, 0.9)),
      url(/images/skincare-footer.png);
    height: 40vh;
    padding: 80px 0;
    margin: 5px 30px;
    padding: 5px 10px 115px 10px;
  }
  footer .grid {
    margin: 5px 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }

  footer h3 {
    font-size: 14px;
    font-weight: 400;
  }

  footer p {
    font-size: 12px;
    font-weight: 280;
    line-height: 17px;
    opacity: 0.7;
  }
}
